In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('display.max_rows', 200)

In [5]:
df_train = pd.read_csv("../data/train.csv")

In [7]:
print(df_train.columns.tolist())
df_train.head().T

['key', 'fare_amount', 'pickup_datetime', 'pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude', 'passenger_count']

,0,1,2,3,4
key,2009-06-15 17:26:21.0000001,2010-01-05 16:52:16.0000002,2011-08-18 00:35:00.00000049,2012-04-21 04:30:42.0000001,2010-03-09 07:51:00.000000135
fare_amount,4.5,16.9,5.7,7.7,5.3
pickup_datetime,2009-06-15 17:26:21 UTC,2010-01-05 16:52:16 UTC,2011-08-18 00:35:00 UTC,2012-04-21 04:30:42 UTC,2010-03-09 07:51:00 UTC
pickup_longitude,-73.844311,-74.016048,-73.982738,-73.98713,-73.968095
pickup_latitude,40.721319,40.711303,40.76127,40.733143,40.768008
dropoff_longitude,-73.84161,-73.979268,-73.991242,-73.991567,-73.956655
dropoff_latitude,40.712278,40.782004,40.750562,40.758092,40.783762
passenger_count,1,1,2,1,1

In [9]:
df_train.to_parquet("../data/train.parquet")